In [14]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import seaborn as sns
from pprint import pprint

# File to Load (Remember to Change These)
Zillow_df = pd.read_excel("Zillow Data.xlsx")
Realtor_df = pd.read_csv("RDC_Inventory_Core_Metrics_Zip_History 91910 92110.csv")

In [15]:
Zillow_df.head()

  Website    Date  Postal_Code         City  median_listing_price
0  Zillow  201607        91910  Chula Vista                632386
1  Zillow  201608        91910  Chula Vista                636458
2  Zillow  201609        91910  Chula Vista                640383
3  Zillow  201610        91910  Chula Vista                645545
4  Zillow  201611        91910  Chula Vista                648470

In [16]:
Realtor_df.head()

   Website    Date  Postal_Code         City  median_listing_price
0  Realtor  202010        91910  Chula Vista              619050.0
1  Realtor  202010        92110    San Diego              650050.0
2  Realtor  202009        92110    San Diego              619050.0
3  Realtor  202009        91910  Chula Vista              604050.0
4  Realtor  202008        91910  Chula Vista              610050.0

In [23]:
realtor_data_complete_df = pd.merge(Zillow_df, Realtor_df, how="outer", on=["Date", "Date"])

In [24]:
realtor_data_complete_df.head()

,Website_x,Date,Postal_Code_x,City_x,median_listing_price_x,Website_y,Postal_Code_y,City_y,median_listing_price_y
0,Zillow,201607,91910.0,Chula Vista,632386.0,Realtor,91910,Chula Vista,490050.0
1,Zillow,201607,91910.0,Chula Vista,632386.0,Realtor,92110,San Diego,469950.0
2,Zillow,201607,92110.0,San Diego,1019976.0,Realtor,91910,Chula Vista,490050.0
3,Zillow,201607,92110.0,San Diego,1019976.0,Realtor,92110,San Diego,469950.0
4,Zillow,201608,91910.0,Chula Vista,636458.0,Realtor,92110,San Diego,492500.0

In [25]:
realtor_data_complete_df

,Website_x,Date,Postal_Code_x,City_x,median_listing_price_x,Website_y,Postal_Code_y,City_y,median_listing_price_y
0,Zillow,201607,91910.0,Chula Vista,632386.0,Realtor,91910,Chula Vista,490050.0
1,Zillow,201607,91910.0,Chula Vista,632386.0,Realtor,92110,San Diego,469950.0
2,Zillow,201607,92110.0,San Diego,1019976.0,Realtor,91910,Chula Vista,490050.0
3,Zillow,201607,92110.0,San Diego,1019976.0,Realtor,92110,San Diego,469950.0
4,Zillow,201608,91910.0,Chula Vista,636458.0,Realtor,92110,San Diego,492500.0
...,...,...,...,...,...,...,...,...,...
201,Zillow,202009,91910.0,Chula Vista,765102.0,Realtor,91910,Chula Vista,604050.0
202,Zillow,202009,92110.0,San Diego,1316520.0,Realtor,92110,San Diego,619050.0
203,Zillow,202009,92110.0,San Diego,1316520.0,Realtor,91910,Chula Vista,604050.0
204,NaN,202010,NaN,NaN,NaN,Realtor,91910,Chula Vista,619050.0
205,NaN,202010,NaN,NaN,NaN,Realtor,92110,San Diego,650050.0